.box-view {
	padding: 20px 40px;
	border-radius: 15px;
	border-top: 2px solid rgba(255, 255, 255, 0.2);
	border-left: 2px solid rgba(255, 255, 255, 0.2);
	color: white;
	background-color: rgba(255, 255, 255, 0.05);
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
}

.gold-gradient {
	background-image: radial-gradient(
		circle,
		#cb9b51 0%,
		#f6e27a 10%,
		#f6f2c0 30%,
		#f6e27a 40%,
		#8062343f 70%,
		#4625235b 90%,
		rgba(0, 0, 0, 0) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	opacity: 1;
}

.star-shadow-l {
	position: absolute;
	top: 0;
	left: -70vw;
	font-size: 200px;
	animation: star-rot 250s infinite linear;
	text-shadow: -10px 15px 10px rgba(0, 0, 0, 0.226);
	color: rgba(0, 0, 0, 0);
}

.star-shadow-rb {
	position: absolute;
	top: 70vh;
	left: 30vw;
	font-size: 400px;
	animation: star-rot-back 200s infinite linear;
	text-shadow: -10px 10px 10px rgba(0, 0, 0, 0.226);
	color: rgba(0, 0, 0, 0);
}


.nav-btn-hover::before,
.nav-btn-hover::after {
	content: '';
	position: absolute;
	width: 0;
	bottom: 0;
	border-bottom: 2px solid rgb(255, 255, 255);
}

.nav-btn-hover::before {
	right: 50%;
}

.nav-btn-hover::after {
	left: 50%;
}

.nav-btn-hover:hover::before,
.nav-btn-hover:hover::after {
	width: 50%;
}




/* width */
::-webkit-scrollbar {
	width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: rgb(0, 0, 0);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(100, 100, 100);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }

  


// /* width */
// ::-webkit-scrollbar {
// 	width: 20px;
	
//   }
  
//   /* Track */
//   ::-webkit-scrollbar-track {
// 	box-shadow: inset 0 0 5px rgb(39, 204, 17);
//   }
  
//   /* Handle */
//   ::-webkit-scrollbar-thumb {
// 	background: red;
// 	border-radius: 10px;
//   }