@import './components';

*,
::before,
::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	width: 100vw;
	overflow-x: hidden;
}

.wrapper {
	position: relative;
	height: 4200px;
	overflow: hidden;

	//HEADER

	header {
		height: 100vh;
		.bg-img {
			position: absolute;
			top: 0;
			left: 50%;
			height: 4200px;
			width: 4200px;

			transform: translateX(-50%);
			background-image: url('../img/bg-big.jpg');

			// 			background: rgb(0,11,158);
			// background: linear-gradient(176deg, rgba(0,11,158,1) 0%, rgba(20,95,110,1) 11%, rgba(25,116,98,1) 15%, rgba(31,141,84,1) 26%, rgba(40,179,63,1) 40%, rgba(38,172,61,1) 43%, rgba(33,150,53,1) 48%, rgba(32,144,51,1) 52%, rgba(0,0,0,1) 100%);

			z-index: -5;
		}

		.bg-shadow {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.329);
			z-index: -5;
		}

		.moon-clock {
			position: absolute;
			top: 80px;
			right: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-image: url(../img/moon.png);
			background-size: contain;
			height: 250px;
			width: 250px;
			z-index: 10;
			opacity: 0.4;
			color: rgba(255, 255, 255, 0.568);

			.clock {
				position: relative;
				height: 500px;
				min-width: 500px;
				border-radius: 50%;
				transform: scale(0.415);

				.number {
					position: absolute;
					height: 100%;
					width: 100%;
					display: flex;
					justify-content: center;
					font-size: 3rem;
					transform: rotate(0);
				}
				.number1 {
					transform: rotate(30deg);
				}
				.number2 {
					transform: rotate(60deg);
				}
				.number3 {
					transform: rotate(90deg);
				}
				.number4 {
					transform: rotate(120deg);
				}
				.number5 {
					transform: rotate(150deg);
				}
				.number6 {
					transform: rotate(180deg);
				}
				.number7 {
					transform: rotate(210deg);
				}
				.number8 {
					transform: rotate(240deg);
				}
				.number9 {
					transform: rotate(270deg);
				}
				.number10 {
					transform: rotate(300deg);
				}
				.number11 {
					transform: rotate(330deg);
				}

				.hand {
					position: absolute;
					left: 50%;
					bottom: 50%;
					height: 45%;
					width: 16px;
					transform: translateX(-50%) rotate(0);
					transform-origin: bottom;
					border-top-left-radius: 8px;
					border-top-right-radius: 8px;
					border: 1px solid rgba(255, 255, 255, 0.5);
				}

				.hour {
					height: 37%;
					background-color: rgba(255, 255, 255, 0.3);
					backdrop-filter: invert(10%);
				}

				.minute {
					height: 45%;
					width: 10px;
					background-color: rgb(255, 255, 255, 0.1);
					transform: translateX(-50%) rotate(0);
					backdrop-filter: invert(20%);
				}

				.second {
					height: 48%;
					width: 4px;
					background-color: rgb(255, 255, 255, 0.2);
				}
			}
		}

		.stars {
			position: absolute;

			.star-l {
				position: absolute;
				top: 2vh;
				left: -250px;
				font-size: 400px;
				animation: star-rot 250s infinite linear;
				opacity: 0.1;
			}

			.star-rb {
				position: absolute;
				top: 75vh;
				left: 80vw;
				font-size: 200px;
				animation: star-rot-back 200s infinite linear;
				opacity: 0.1;
			}
		}
	}

	@keyframes star-rot {
		0% {
			transform: rotate(-100deg);
		}
		100% {
			transform: rotate(405deg);
		}
	}

	@keyframes star-rot-back {
		0% {
			transform: rotate(360deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}

	//NAVIGATION

	.nav-box {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		min-height: 50px;
		padding: 20px 40px;
		border-radius: 15px;
		color: white;
		text-shadow: 5px 5px 10px #000;

		.nav-home {
			i {
				margin-right: 4px;
			}
		}

		.nav-center {
			display: flex;
			justify-content: space-between;

			div {
				margin: 0 5px;
				padding: 0 10px;
			}
		}
	}

	//HI TEXT

	.hi-text {
		margin-left: 30px;
		margin-top: 130px;
		font-weight: bold;
		text-shadow: 5px 5px 10px #000;

		&__1 {
			margin-left: 40px;
			font-size: 60px;
		}

		&__2 {
			margin-left: 25px;
			font-size: 65px;
		}
		&__3 {
			margin-top: 7px;
			font-size: 46px;
		}
		&__4 {
			font-size: 20px;
		}
	}
	.stars2 {
		margin-left: 34px;
	}
}

.know-box {
	height: 100px;
	width: 100px;
	background-color: white;
}

// MEDIA QUERIES

@media (min-width: 576px) {
	.container {
		margin-left: auto;
		margin-right: auto;
		width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		margin-left: auto;
		margin-right: auto;
		width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		margin-left: auto;
		margin-right: auto;
		width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		margin-left: auto;
		margin-right: auto;
		width: 1140px;
	}
}
